 <% @rental = Rental.new %>
        <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
  Rent the Dog
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Rent <%= @dog.name %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form_container">



        <%= simple_form_for [@dog, @rental] do |f| %>


      <div class="form_element_container">    <!-- !!!PICK-UP!!! -->
        <div class="text_container">

          <%= f.input :rented_start_date, as: :string, label: "Pick-up", placeholder: "#{Date.today.strftime("%-d %b %Y")}", wrapper_html: { class: "inline_field_wrapper date_input" } %>

        </div> <!-- text container -->

      </div> <!-- form element container -->



      <div class="form-element_container">    <!-- !!!DELIVERY!!! -->
        <div class="text_container">

          <%= f.input :rented_nd_date, as: :string, label: "Delivery", placeholder: "#{Date.today.strftime("%-d %b %Y")}", wrapper_html: { class: "inline_field_wrapper date_input" } %>

          </div> <!-- input -->

      </div> <!-- form element container -->



      <div class="form_element_container">    <!-- !!!DESCRIPTION!!! -->
        <div class="text_container">
          <div class="label">
            <label for="description">Describe your playdate:</label>
          </div> <!-- label -->
          <div class="input">

              <textarea name="description" id="#des" rows="3" placeholder="add a short message to the owner explaining what you want to bring #dog.name to"></textarea>

          </div> <!-- input -->
        </div> <!-- text container -->
      </div> <!-- form element container -->


    </div> <!-- form container -->


      </div>
  <div class="button_container">
    <%= f.button :submit, 'SEND' %>
  </div> <!-- button container -->
  <% end %>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> -->
    </div>
  </div>
</div>
      <!--   <%#= link_to "Rent me!", new_dog_rental_path(@dog), class:"btn btn-light" %> -->
