<div class="navbar navbar-expand navbar-lewagon fixed-top">
  <%= link_to root_path, class: "navbar-brand" do %>
      Rent A Woff
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "#", class: "nav-link" do %>
        <%= image_tag "map-round-white", class: "map-icon-size" %>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to "#", class: "nav-link" do %>
        <%= image_tag "user-round-white", class: "user-icon-size" %>
        <% end %>
      </li>

      </li>
    </ul>
  </div>
</div>
