<div class="navbar navbar-expand-sm navbar-light navbar-lewagon justify-content-between fixed-top border-bottom border-dark">
  <%= link_to "#", class: "" do %>
    <%= image_tag "map-icon", class: "map-icon" %>
  <% end %>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to "airdog", "#", class: "airdog" %>
      </li>
    </ul>
  </div>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <%= link_to "#", class: "" do %>
    <%= image_tag "user-icon", class: "user-icon" %>
  <% end %>
  </div>
</div>
