<%= render 'components/navbarbottom', dog: @dog %>

<div class="container-fluid top background-green fullscreen">

  <div class="carousel-wrapper d-flex align-items-center justify-content-center">
    <div class="carousel-text align-items-center justify-content-center">
    <h1><%= Dog.count %> dogs ready to play, cuddle and bit you in the ass</h1>

    </div>
  </div>

      <div
        id="map"
        class="default-map"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
      ></div>
</div>



<!-- <div class="search_field">
  <%= form_tag root_path, method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find a dog in your city!!"
    %>
    <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>
</div> -->
<!-- the list of movies -->


<div class="container-fluid paddings">
  <div class="content-dogs pb-10">
    <% @dogs.each do |dog| %>
    <%= link_to dog_path(dog) do %>
    <div class="content-dog">
        <div class="dog-name">
          <%= dog.name %>
        </div>
        <% if !dog.photos.first.nil? %>
        <%= cl_image_tag dog.photos.first.key, class: "dog-picture" %>
        <% else %>
        <%= image_tag "https://images.unsplash.com/photo-1537204696486-967f1b7198c8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3052&q=80", class: "dog-picture" %>
        <% end %>
    </div>
    <% end %>
  <% end %>
  </div>
</div>




