<h1>Rent a Woff</h1>
<% @dogs.each do |dog| %>
  <ul>
  <li><%= dog.name %></li>
  <li><%= dog.age %></li>
  <li><%= dog.race %></li>
  <li><%= dog.bio %></li>
  <li><%= dog.owner %></li>
  </ul>
  <% end %>
