<div class="container-fluid">
  <div class="row align-items-center">
    <div class="col">
      <%= image_tag "dog-icon" %>
    </div>
      <nav class="navbar fixed-bottom bg-dark justify-content-center">
        <%= link_to "Rent a way your Woff", new_dog_path, class: "navbar-add"%>
      </nav>
    </div>
  </div>

<div class="container-fluid background-white">
  <div class="content-dogs">
    <% @dogs.each do |dog| %>
    <%= link_to dog => 'go' do %>
    <div class="content-dog">
      <% if !dog.photos.first.nil? %>
      <%= cl_image_tag dog.photos.first.key, class: "dog-picture" %>
      <% else %>
      <%= image_tag "https://images.unsplash.com/photo-1518020382113-a7e8fc38eac9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2776&q=80", class: "dog-picture" %>
      <% end %>
    </div>
    <% end %>
  <% end %>
  </div>
</div>


