<h1>Rent a Woff</h1>
<% @dogs.each do |dog| %>
  <ul>
  <li><%= link_to dog.name, dog_path(dog.id) %></li>
  <li><%= dog.age %></li>
  <li><%= dog.race %></li>
  <li><%= dog.bio %></li>
  <li><%= dog.owner.name %></li>
  </ul>
  <% end %>

  <%= link_to "create", new_dog_path %>
