<%= render 'components/navbar' %>
<%= render 'components/navbarbottom' %>
<div class="container-fluid top background-green fullscreen">

  <div class="carousel-wrapper d-flex align-items-center justify-content-center">
    <div class="carousel-text align-items-center justify-content-center">
    <h1><%= Dog.count %> dogs ready to play, cuddle and bit you in the ass</h1>
      <div class="input-group md-form form-sm form-2 pl-0">
        <input class="form-control my-0 py-1" type="text" placeholder="Find dogs near you!" aria-label="Search">
        <div class="input-group-append">
          <span class="input-group-text red lighten-3" id="basic-text1"><i class="fas fa-search text-grey"
              aria-hidden="true"></i></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid paddings">
  <div class="content-dogs pb-10">
    <% @dogs.each do |dog| %>
    <%= link_to dog_path(dog) do %>
    <div class="content-dog">
        <div class="dog-name">
          <%= dog.name %>
        </div>
        <% if !dog.photos.first.nil? %>
        <%= cl_image_tag dog.photos.first.key, class: "dog-picture" %>
        <% else %>
        <%= image_tag "https://images.unsplash.com/photo-1537204696486-967f1b7198c8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3052&q=80", class: "dog-picture" %>
        <% end %>
    </div>
    <% end %>
  <% end %>
  </div>
</div>




