<div class="container-fluid fullscreen">
  <div class="row align-items-center">
    <div class="col-12 col-md-6 fullscreen p-0" style="background: black;">
      <% if @dog.photos %>
        <div id="carouselExampleSlidesOnly" class="carousel slide carousel-fade" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <%= cl_image_tag @dog.photos.first.key, crop: :fill, class: "d-block w-100 fullscreen-img", alt: "First slide" %>
            </div>
              <% if @dog.photos.second %>
            <div class="carousel-item">
              <%= cl_image_tag @dog.photos.second.key, crop: :fill, class: "d-block w-100 fullscreen-img", alt: "Second slide" %>
              <% end %>
            </div>
          </div>
            <% else %>
            <%= image_tag "https://images.unsplash.com/photo-1537204696486-967f1b7198c8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3052&q=80" %>
        <% end %>
      </div>
    </div>
    <div class="col-12 col-md-6 p-5">
      <h3><%= @dog.name %></h3>
      <p>Age: <%= @dog.age %></p>
      <p>Breed: <%= @dog.race %></p>
      <p>Description: <%= @dog.bio %></p>
      <p>Owner: <%= @dog.owner.name %></p>
      <%= link_to "back", root_path %>
      <%= link_to "update", edit_dog_path %>
      <%= link_to "delete", dog_path(@dog), method: :delete %>
      <%= link_to "rent me!", new_dog_rental_path(@dog) %>
    </div>
  </div>
</div>




#<% if @dog.owner != current_user %>
#<%= link_to "rent me!", new_dog_rental_path(@dog) %>
#<% end %>
