<%= render 'components/navbaroptional' %>

<div class="container-fluid fullscreen">
  <div class="row align-items-center">
    <div class="col-12 col-md-6 fullscreen p-0" style="background: black;">
      <% if @dog.photos %>
        <div id="carouselExampleSlidesOnly" class="carousel slide carousel-fade" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <%= cl_image_tag @dog.photos.first.key, crop: :fill, class: "d-block w-100 fullscreen-img", alt: "First slide" %>
            </div>
              <% if @dog.photos.second %>
            <div class="carousel-item">
              <%= cl_image_tag @dog.photos.second.key, crop: :fill, class: "d-block w-100 fullscreen-img", alt: "Second slide" %>
              <% end %>
            </div>
          </div>
        <% else %>
            <%= image_tag "https://images.unsplash.com/photo-1537204696486-967f1b7198c8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3052&q=80" %>
        <% end %>
      </div>

    <div class="col-12 col-md-6 p-5">
      <h3><%= @dog.name %></h3>
      <div class="border-bottom pt-4 pb-3">
      <p class="p-tag">Description:</p>
      <p class="dog-tag"><%= @dog.bio %></p>
      </div>
      <div class="p-0 pt-4 border-bottom pb-3">
        <div class="row">
          <div class="col-9">
          <p class="p-tag">Breed:</p>
          <h4 class="capitalize"><%= @dog.race %></h4>
          </div>
          <div class="col-3">
          <p class="p-tag">Age:</p>
          <h4><%= @dog.age %></h4>
          </div>
        </div>
      </div>
      <div class="pt-4 pb-4 border-bottom dog-tag">
        <p class="p-tag">Owner:</p>
        <% if @dog.owner == current_user %>
          <%= current_user.name %>
          <% else %>
            <p><%= @dog.owner.name %></p>
          <% end %>
      </div>

      <div class="d-flex justify-content-between mt-5">
      <div>
        <% if @dog.owner != current_user %>
        <%= link_to "Rent me!", new_dog_rental_path(@dog), class:"btn btn-light" %>
        <% end %>
      </div>
      <div>
        <%= link_to root_path do %>
        <i class="fas fa-arrow-left pr-1"></i>
        <% end %>

      <% if @dog.owner == current_user %>
        <%= link_to edit_dog_path do %>
        <i class="fas fa-redo pr-1"></i>
        <% end %>
      <% end %>

      <% if @dog.owner == current_user %>
        <%= link_to dog_path(@dog), method: :delete do %>
        <i class="far fa-trash-alt"></i>
        <% end %>
      <% end %>
      </div>
    </div>
  </div>
</div>





