<head>
      <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
</head>






<div class="container">
  <div class="header_container">    <!-- !!!HEADER!!! -->
    <p>request playdate w/</p>
    <h2>Tito</h2>
  </div> <!-- header container -->

  <div class="img_container">    <!-- !!!IMAGE!!! -->
    <%= image_tag "https://prodimage.images-bn.com/pimages/9780316227704_p1_v2_s550x406.jpg", class: "form_dog" %>
  </div>


  <div class="form_container">


    <%= simple_form_for [@dog, @rental] do |f| %>


      <div class="form_element_container">    <!-- !!!PICK-UP!!! -->
        <div class="text_container">

          <%= f.input :rented_start_date, as: :string, label: "Pick-up", placeholder: "#{Date.today.strftime("%-d %b %Y")}", wrapper_html: { class: "inline_field_wrapper date_input" } %>

        </div> <!-- text container -->
        <div class="line">----------------------------</div> <!-- line -->
      </div> <!-- form element container -->



      <div class="form-element_container">    <!-- !!!DELIVERY!!! -->
        <div class="text_container">

          <%= f.input :rented_nd_date, as: :string, label: "Delivery", placeholder: "#{Date.today.strftime("%-d %b %Y")}", wrapper_html: { class: "inline_field_wrapper date_input" } %>

          </div> <!-- input -->
        <div class="line">----------------------------</div> <!-- line -->
      </div> <!-- form element container -->



      <div class="form_element_container">    <!-- !!!DESCRIPTION!!! -->
        <div class="text_container">
          <div class="label">
            <label for="description">description</label>
          </div> <!-- label -->
          <div class="input">

              <textarea name="description" id="#des" cols="30" rows="3" placeholder="add a short message to the owner explaining what you want to bring #dog.name to"></textarea>

          </div> <!-- input -->
        </div> <!-- text container -->
      </div> <!-- form element container -->

    <div class="button_container">
      <%= f.button :submit %>
    </div> <!-- button container -->
    <% end %>

  </div> <!-- form container -->


</div> <!-- container -->

<!--
    t.date "rented_start_date"
    t.date "rented_nd_date" -->




        <%#= simple_form_for [@dog, @rental] do |f| %>
        <%#= f.input :rented_nd_date, id: "testboi", as: :string, label: "Dates", placeholder: "#{Date.today.strftime("%-d %b %Y")}", wrapper_html: { class: "inline_field_wrapper date_input" } %>
<%# end %>






<!-- <script>
$(function() {
  $('.date').daterangepicker({
    singleDatePicker: true,
    showDropdowns: true,
    minYear: 1901,
    maxYear: parseInt(moment().format('YYYY'),10),
    locale: {
      format: "DD/MM/YYYY"
    }
  }, function(start, end, label) {
  });
});
</script>


<script>
$(function() {
  $('input[name="pick_up"]').daterangepicker({
    singleDatePicker: true,
    showDropdowns: true,
    minYear: 1901,
    maxYear: parseInt(moment().format('YYYY'),10)
  }, function(start, end, label) {
  });
});
</script>

<script>
$(function() {
  $('input[name="delivery"]').daterangepicker({
    singleDatePicker: true,
    showDropdowns: true,
    minYear: 1901,
    maxYear: parseInt(moment().format('YYYY'),10)
  }, function(start, end, label) {
  });
});
</script> -->

